<%= form_with(model: prospect, local: true) do |form| %>
  <% if prospect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prospect.errors.count, "error") %> prohibited this prospect from being saved:</h2>

      <ul>
      <% prospect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th> <%= form.label :rep %> </th>
        <th> <%= form.label :name, "Business name" %> </th>
        <th> <%= form.label :zip %> </th>
        <th> <%= form.label :source %> </th>
        <th> <%= form.label :new_opening, "New opening?" %> </th>
        <th> <%= form.label :compass, "Compass?" %> </th>
    </thead>
    <tbody>
      <tr>
        <% if @new %>
          <% if @manager %>
            <% if @user == 'ADMIN' %>
              <td> <%= form.text_field :rep, value: @user_isr %> </td>
            <% else %>
              <td> <%= form.text_field :rep, :value => @user, id: :prospect_rep %> </td>
            <% end %>
          <% else %>
            <td> <%= form.text_field :rep, :value => @user, readonly: true, id: :prospect_rep %> </td>
          <% end %>
        <% else %>
          <% if @manager %>
            <td> <%= form.text_field :rep, id: :prospect_rep %> </td>
          <% else %>
            <td> <%= form.text_field :rep, readonly: true, id: :prospect_rep %> </td>
          <% end %>
        <% end %>
        <% if @new %>
          <td> <%= form.text_field :name, :value => $name, id: :prospect_name %> </td>
        <% else %>
          <td> <%= form.text_field :name, id: :prospect_name %> </td>
        <% end %>
        <td> <%= form.text_field :zip, size: "5", id: :prospect_zip %> </td>
        <td> <%= form.select :source, @source, {}, {:value => params[:source], id: :prospect_source} %> </td>
        <td> <%= form.check_box :new_opening, id: :prospect_new_opening %> </td>
        <td> <%= form.check_box :compass, id: :prospect_compass %> </td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th> <%= form.label :activities %> </th>
        <th> <%= form.label :first_activity %> </th>
        <th> <%= form.label :last_activity %> </th>
        <th> <%= form.label :customer_id, "Customer code" %> </th>
        <th> <%= form.label :ship_to %> </th>
        <th> <%= form.label :status, "Inactive?" %> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= @prospect.prospect_calls.count %> </td>
        <% if @first == ' ' %>
          <td></td>
          <td></td>
        <% else %>
          <td> <%= display_date(@first) %> </td>
          <% if @last == ' ' %>
            <td></td>
          <% else %>
            <td> <%= display_date(@last) %> </td>
          <% end %>
        <% end %>
        <td> <%= form.text_field :customer_id, id: :prospect_customer_id %> </td>
        <td> <%= form.text_field :ship_to, id: :prospect_ship_to %> </td>
        <% if @manager %>
          <td> <%= form.check_box :status, id: :prospect_status %> </td>
        <% else %>
          <td> <%= form.check_box :status, readonly: true, id: :prospect_status %> </td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <h3>Activities</h3>
  <% i = 1 %>
  <%= form.fields_for :prospect_calls, form.object.prospect_calls.sort_by(&:call_date) do |p| %>

  <table>
    <% if i == 1 %>
      <thead>
        <tr>
          <th> <%= p.label :who, 'Contact' %> </th>
          <th> <%= p.label :call_date, 'Activity date' %> </th>
          <th> <%= p.label :method %> </th>
          <th> <%= p.label :subject, 'Notes' %> </th>
          <th> <%= p.label :outcome %> </th>
        </tr>
      </thead>
      <% i = 2 %>
    <% end %>
    <tbody>
        <tr>
          <td> <%= p.text_field :who, size: "15" %> </td>
          <% if @new %>
            <td> <%= p.date_field :call_date, max: Date.today, min: Date.today - 10 %> </td>
          <% else %>
            <!-- Pierre needed to update prospects that contained activities with invalid dates -->
            <td> <%= p.date_field :call_date, max: Date.today %> </td>
          <% end %>
          <td> <%= p.select :method, @method %> </td>
          <td> <%= p.text_area :subject, size: "20x4" %> </td>
          <td> <%= p.select :outcome, @outcome %> </td>
        </tr>
    </tbody>
  </table>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
