<p id="notice"><%= notice %></p>
<h3>Prospects To Customers</h3>

<table id="normal_dt"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <% if @user == "admin" || @user == @mngr %>
        <th>Rep</th>
      <% end %>
      <th>Custcode</th>
      <th>Name</th>
      <th>Activities</th>
      <th>Last activity</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @prospects.each do |prospect| %>
      <tr>
        <% if @user == "admin" || @user == @mngr %>
          <td><%= prospect.rep %></td>
        <% end %>
        <td><%= prospect.customer_id %></td>
        <td><%= prospect.name %></td>
        <td><%= prospect.prospect_calls.count %></td>
        <td><%= last_call(prospect.id) %></td>
        <td><%= link_to 'Show', prospect %></td>
        <td><%= link_to 'Edit', edit_prospect_path(prospect) %></td>
        <td><%= link_to 'Delete', prospect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prospect', new_prospect_path %>
