<p id="notice"><%= notice %></p>

<% if !@name %>
  <h3>No prospects</h3>
<% else %>
  <%= form_with url: prospects_chosen_path, local: true, method: 'get' do |f| %>
    <%= f.label:prospect_name, 'Name:' %>
    <%= f.select(:prospect_name, options_for_select(@name)) %>
    <%= f.submit "Select" %>
  <% end %>
<% end %>
