<p id="notice"><%= notice %></p>

<h1>Prospects</h1>

<table id="normal_dt"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Customer</th>
      <th>Name</th>
      <th>Calls</th>
      <th>First call</th>
      <th>Last call</th>
      <th>Credit terms</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @prospects.each do |prospect| %>
      <tr>
        <td><%= prospect.customer_id %></td>
        <td><%= prospect.name %></td>
        <td><%= prospect.calls %></td>
        <td><%= prospect.first_call %></td>
        <td><%= prospect.last_call %></td>
        <td><%= prospect.credit_terms %></td>
        <td><%= link_to 'Show', prospect %></td>
        <td><%= link_to 'Edit', edit_prospect_path(prospect) %></td>
        <td><%= link_to 'Destroy', prospect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prospect', new_prospect_path %>
