<p id="notice"><%= notice %></p>

<h3>Showing Prospect</h3>

<table>
  <thead>
    <tr>
      <th> Rep </th>
      <th> Business name </th>
      <th> Calls </th>
      <th> First call </th>
      <th> Last call </th>
      <th> Customer </th>
      <th> Inactive </th>
      <th> Orders </th>
      <th> First order </th>
      <th> Last order </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= @prospect.rep %> </td>
      <td> <%= @prospect.name %> </td>
      <td> <%= @prospect.prospect_calls.count %> </td>
      <% if @first == ' ' %>
        <td></td>
        <td></td>
      <% else %>
        <td> <%= display_date(@first) %> </td>
        <% if @last == ' ' %>
          <td></td>
        <% else %>
          <td> <%= display_date(@last) %> </td>
        <% end %>
      <% end %>
      <td> <%= @prospect.customer_id %> </td>
      <td> <%= human_boolean(@prospect.status) %> </td>
      <td><%= @orders.count %></td>
      <% if @orders.first && @orders.first != '' %>
        <td><%= display_date(@orders.first) %></td>
      <% else %>
        <td></td>
      <% end %>
      <% if @orders.last && @orders.last != '' %>
        <td><%= display_date(@orders.last) %></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  </tbody>
</table>

<table id="normal_dt"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th> Contact </th>
      <th> Outcome </th>
      <th> Call date </th>
      <th> Delete </th>
    </tr>
  </thead>
  <tbody>
    <% @prospect.prospect_calls.each do |c| %>
    <tr>
      <td> <%= c.who %> </td>
      <td> <%= c.outcome %> </td>
      <td> <%= display_date(c.call_date) %> </td>
      <td><%= link_to 'Delete', prospect_prospect_call_path(@prospect.id, c.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_prospect_path(@prospect) %>
<%= link_to 'List', prospects_path %>
