<span class="primary-logo">
</span>
<% if current_user2 %>
  <div id="navbar">
    <span><%= link_to 'Summary', prospects_path  %></span>
    <span><%= link_to 'New', '/prospects/search' %></span>
    <span><%= link_to 'Password', edit_user2_registration_path %></span>
    <span><%= link_to 'Sign out', destroy_user2_session_path, method: :delete %></span>
    <% if @manager %>
      <span><%= link_to 'Inactive', '/prospects/inactive' %></span>
      <span><%= link_to 'Customer', '/prospects/customer' %></span>
    <% end %>
    <% if current_user2.email == "admin" %>
      <span><%= link_to 'Sign up', new_user2_registration_path %></span>
    <% end %>
  </div>
<% end %>

<br>
